@(message: String)


@main("Untitled") {

	<div class="messagesList" app-messages></div>

	<div class="titleArea">
		<h1>This is my <em>jam</em><span class="colour">.</span></h1>
	</div>

	<div ng-controller="resultsControl" class="results">
		<form ng-submit="search()">
			<input type="text" name="query" ng-model="search_query"/>
			<input type="submit" value="Search"/>
		</form>

		<div class="results">
			<ul>
				<li ng-repeat="track in tracks | limitTo:maxResults">
					<form>
						<h3>{{track.name}}</h3>
						<h4>by {{track.artist}}</h4>
						<input type="submit" name="submit_dummy" value="Jam it" ng-click="submit(track.artist, track.name, track.mbid)" />
						<input type="hidden" name="artist" value="{{track.artist}}" />
						<input type="hidden" name="title" value="{{track.name}}" />
						<input type="hidden" name="mbid" value="{{track.mbid}}" />
					</form>
				</li>
			</ul>
			<div class="loadingIcon" ng-show="resultsLoading">
				<p>loading</p>
			</div>
			<input type="button" ng-click="moreResults()" ng-show="showMoreResultsButton" value="More" />
		</div>
	</div>

	<div ng-controller="jamsControl" class="jamsArea">
		<h2>What people are jamming to:</h2>
		<ul>
			<li ng-repeat="jam in jams">
				<h3>{{jam.title}}</h3>
				<h4>by {{jam.artist}}</h4>
			</li>
		</ul>
		<div class="loadingIcon" ng-hide="jams">
			<p>loading</p>
		</div>
	</div>
}
