@(message: String)


@main("This is my jam") {

	<div class="messagesList" app-messages>
	</div>

	<div class="titleArea">
		<h1>This is my <em>jam</em><span class="colour">.</span></h1>
	</div>

	<div ng-controller="resultsControl" class="results">
		<form ng-submit="search()">
			<input type="text" name="query" ng-model="search_query"/>
			<input type="submit" value="Search"/>
		</form>

		<div class="results">
			<ul>
				<li ng-repeat="track in tracks | limitTo:maxResults" ng-animate="listAnimation">
					<button class="jamButton" ng-click="submit($index)">
						<div class="details">
							<h3>{{track.name}}</h3>
							<h4>by {{track.artist}}</h4>
						</div>
						<div class="submittingIcon" loading-item="jam.submit.{{$index}}"><p>Submitting</p></div>
					</button>
				</li>
			</ul>
			<div class="loadingIcon" loading-item="search">
				<p>loading</p>
			</div>
			<input type="button" ng-click="moreResults()" ng-show="showMoreResultsButton()" value="More" />
		</div>
	</div>

	<div ng-controller="jamsControl" class="jamsArea">
		<h2>What people are jamming to:</h2>
		<ul>
			<li ng-repeat="jam in jams" class="{{jam.local}}" ng-animate="listAnimation">
				<h3>{{jam.name}}</h3>
				<h4>by {{jam.artist}}</h4>
			</li>
		</ul>
		<div class="loadingIcon" loading-item="list">
			<p>loading</p>
		</div>
	</div>




}
