@(title: String, ng_controller: String = "")(content: Html)

<!DOCTYPE html>

<html ng-app="myjam">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fonts/meteocons/stylesheet.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fonts/Novecento/Novecento.css")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/appMessenger.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/loadingIndicator.js")" type="text/javascript"></script>     
    </head>
    <body @if(ng_controller != "") {ng_controller}>
        @content
    </body>
</html>
